  <section class="sidebar-module">
    <h4>{{ i18n "mybooks" }}</h4>
    <p><a href="https://python.howtocode.com.bd" target="_blank"><img src="//i.imgur.com/d320luq.jpg" class="img-fluid rounded mx-auto d-block" alt="পাইথন প্রোগ্রামিং"></a></p>
    <p><a href="https://dl.howtocode.com.bd" target="_blank"><img src="//i.imgur.com/g2tvPv2.jpg" class="img-fluid rounded mx-auto d-block" alt="ডিপ লার্নিং ও আর্টিফিশিয়াল নিউরাল নেটওয়ার্ক"></a></p>
    <p><a href="https://ds.howtocode.com.bd" target="_blank"><img src="//i.imgur.com/6jY3LzY.jpg" class="img-fluid rounded mx-auto d-block" alt="ডাটা সায়েন্সের ভিত্তি"></a></p>
    <p><a href="https://ios.howtocode.com.bd" target="_blank"><img src="//i.imgur.com/UiYlk1I.png" class="img-fluid rounded mx-auto d-block" alt="iOS প্রোগ্রামিং, সুইফট প্রোগ্রামিং"></a></p>
  </section>
