<aside class="col-lg-4 ml-auto blog-sidebar">
  {{ if and (.Site.Params.sidebar) (isset .Site.Params.sidebar "about") }}
  <section class="sidebar-module sidebar-module-inset text-justify mb-4">
    <h4>{{ i18n "aboutMe" }}</h4>
    <p>{{ .Site.Params.sidebar.about | markdownify }}</p>
  </section>
  {{ end }}

  {{ if .Site.Params.sidebar }}
      {{ partialCached "recent.html" .}}
  {{ end }}

  {{ if .Site.Params.sidebar }}
    {{ partialCached "categories.html" .}}
  {{ end }}  

  {{ if .Site.Params.sidebar }}
    {{ partialCached "banners.html" .}}
  {{ end }}  

  {{ with .Site.Menus.sidebar }}
  <section class="sidebar-module">
    <h4>{{ i18n "myBooks" }}</h4>
    <ol class="pl-3">
      {{ range . }}
      <li> <a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ol>
  </section>
  {{ end }}

</aside><!-- /.blog-sidebar -->

{{- /* vim: set ts=2 sw=2 et: */}}
