<!DOCTYPE html>
<html lang="{{ .Lang }}">

  <head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicon/favicon.png">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/font-awesome.min.css" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ .Site.Data.sri.style}}" crossorigin="anonymous"{{ end }}>    

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ .Site.Data.sri.style}}" crossorigin="anonymous"{{ end }}>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">


    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ if .Site.Params.cookie_consent_info_url }}
    {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ partial "head-custom.html" . }}
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top blog-masthead">
        <div class="container">
          <a class="navbar-brand mb-0 h1" href="/"><i class="fa fa-terminal fa-lg text-info"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL | absLangURL }}">{{ i18n "home" }}<span class="sr-only">(current)</span></a>
              </li>

              {{- $currentURL := .URL | absLangURL -}}
              {{ if .Site.Params.custom_navbar }}
              {{ range .Site.Menus.navbar }}
              {{ $menuURL := .URL | absLangURL }}
              <li class="nav-item">
                <a class="nav-link{{ if eq $menuURL $currentURL }} active{{ end }}" href="{{.URL | absURL }}">{{ .Name }}</a>
              </li>  
              {{ end }}
              {{ else }}
              {{ range where .Site.RegularPages "Type" "!=" "post" }}
              {{ $permalinkURL := .Permalink | absLangURL }}
              <li class="nav-item">
                <a class="nav-link{{ if eq $permalinkURL $currentURL }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
              {{ end }}
              {{ end }}              
            </ul>
            <form id="search" method="get" action="//google.com/search" class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" name="q" placeholder="Keywords" aria-label="Search">
              <input type="hidden" name="as_sitesearch" value="{{ .Site.BaseURL }}">
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      <!-- Jumbotron -->
      <div class="jumbotron text-center blog-header">
          <div class="container">
            <img src="{{ .Site.BaseURL }}img/Nuhil.jpg" class="rounded-circle mx-auto d-block" alt="...">
            <h1 class="blog-title">{{ .Site.Title | safeHTML }}</h1>
            {{ if .Site.Params.description }}<p class="lead blog-description">{{ .Site.Params.description | markdownify }}</p>{{ end }}
            
                <ul class="icons"> 
                  <li>
                      <a href="//github.com/nuhil" target="_blank" title="GitHub" class="fa fa-github"></a>
                  </li> 
                  <li>
                    <a href="//stackoverflow.com/users/1061236" target="_blank" title="Stack Overflow" class="fa fa-stack-overflow"></a>
                  </li>
                  <li>
                    <a href="//linkedin.com/in/nuhil" target="_blank" title="LinkedIn" class="fa fa-linkedin"></a>
                  </li> 
                  <li>
                    <a href="//facebook.com/nuhil" target="_blank" title="Facebook" class="fa fa-facebook"></a>
                  </li> 
                  <li>
                    <a href="//youtube.com/channel/UCJFY9iVRXTJu1SPVI_vRNDw" target="_blank" title="YouTube" class="fa fa-youtube"></a>
                  </li> 
                  <li>
                    <a href="//instagram.com/nuhil" target="_blank" title="Instagram" class="fa fa-instagram"></a>
                  </li> 
                  <li>
                    <a href="//twitter.com/nuhil" target="_blank" title="Twitter" class="fa fa-twitter"></a>
                  </li> 
                </ul>
            
          </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-8 blog-main">

            {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            {{ end }}

          </div> {{ "<!-- /.blog-main -->" | safeHTML }}

          {{ partial "sidebar.html" . }}

        </div> {{ "<!-- /.row -->" | safeHTML }}
      </div> {{ "<!-- /.container -->" | safeHTML }}
    </main>

    <footer class="blog-footer bg-light">
      <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyled">
                  <li class="float-lg-right"><a href="#"><i class="fa fa-chevron-up"></i> {{ i18n "backToTop" }}</a></li>
                  <li><a href="{{ .Site.BaseURL }}index.xml" type="application/rss+xml" target="_blank" title="RSS"><i class="fa fa-rss"></i> RSS</a></li>
                  <li><a href="https://www.google.com/search?q=nuhil" target="_blank"><i class="fa fa-globe"></i> Explore</a></li>
                  <li><a href="https://twitter.com/nuhil"><i class="fa fa-twitter"></i> Twitter</a></li>
                  <li><a href="https://github.com/nuhil"><i class="fa fa-github"></i> GitHub</a></li>
                  <li><a href="//www.paypal.me/nuhil"><i class="fa fa-paypal"></i> Donate</a></li>
                </ul>
                <p>Made with <i class="fa fa-heart text-danger"></i> by <a href="https://nuhil.net">Nuhil</a>, hosted in <i class="fa fa-google text-success"></i></p>
                <p>Powered by <a href="https://gohugo.io/" rel="nofollow">Hugo</a>. Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fontawesome.io/" rel="nofollow">Font Awesome</a>.</p>
                <p class="blog-copyright">
                  {{ if .Site.Copyright }}
                    {{ .Site.Copyright | markdownify }}
                  {{ else }}
                  <i class="fa fa-copyright"></i> All rights reserved by <a href="https://twitter.com/nuhil">@nuhil</a>
                  {{ end }}                  
                </p>    
              </div>
            </div>
      </div>    
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="{{ .Site.BaseURL }}js/custom.js"></script>
  </body>
</html>

{{- /* vim: set ts=2 sw=2 et: */}}
